{% extends '@FroqPortalBundle/portal-layout.html.twig' %}

{% block title %} Download Page {% endblock %}

{% block body %}
    <header>
        <div class="flex justify-center">
            <div class="flex-col">
                <h6><strong>Welcome! Download Assets!</strong></h6>
                <div>Download links will be expired at {{ expiryDate }}</div>
            </div>
        </div>
    </header>

    <main class="flex justify-center pt-m pb-xs pl-xl pr-xl">
        <div class="main-content flex gap-5 ">
            <section class="grow">
                <div class="relative h-full flex flex-col justify-between" id="content">
                    <app-static-list class="list-container-alt overflow-auto bg-white h-dvh">
                        <div class="list" data-role="list">
                            <div class="list-header" data-role="list_header">
                                <div><strong>File Names</strong></div>
                            </div>

                            {% if assetResources is not empty %}
                                {% for assetResource in assetResources %}
                                    <app-list-item class="list-item">
                                        {% for columnName in ['File Names'] %}
                                            <div class="relative">
                                                {% if columnName == 'File Names' %}
                                                    <a href="{{ path('download_public_file', { 'id': assetResource.id }) }}">{{ assetResource.name }}</a>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </app-list-item>
                                {% endfor %}
                            {% endif %}

                            {% if assetResources is empty %}
                                <div class="">
                                    No File Found
                                </div>
                            {% endif %}
                        </div>
                    </app-static-list>
                </div>
            </section>
        </div>
    </main>
{% endblock %}