<div id="filter-group" class="px-5 py-3 border-t border-[#E4E7EC]">
    <twig:Accordion id="accordion-{{ title|lower }}" title="{{ title }}" :expanded="expanded">
        {# For text filters #}
        <div class="mb-3">
{#            Will be implemented later#}
{#            <twig:SearchSidebar#}
{#                :filterName="filterName"#}
{#                placeholder="Look for a {{ title|lower }}"#}
{#                size="sm"#}
{#                class="w-full bg-white border border-[#E4E7EC] rounded-lg text-[#8A939A] text-14 leading-20 tracking-normal"#}
{#            />#}
        </div>

        {# For keyword filters #}
        <div class="space-y-2">
            <twig:CheckboxList
                :filterName="filterName"
                :buckets="buckets"
                class="text-[#171B3F] text-14 leading-20"
            />
        </div>

        {# For date filters #}

        {# For range filters #}
    </twig:Accordion>
</div>