<div class="bg-white rounded-lg pt-2 w-280 min-h-[200px] max-h-[760px] h-full" data-controller="sidebar">
    <div class="flex justify-between items-center px-5 py-2 h-12">
        <span class="text-22 font-semibold leading-28 tracking-normal text-[#171B3F] font-sans">Filters</span>
        <button class="text-18 leading-26 font-normal tracking-normal text-[#8A939A] font-sans">Clear</button>
    </div>

    <div class="flex-1 overflow-y-auto h-[calc(100%-48px)] [&::-webkit-scrollbar]:w-[4px] [&::-webkit-scrollbar-thumb]:bg-gray-400 [&::-webkit-scrollbar-thumb]:rounded-[4px] [&::-webkit-scrollbar-track]:bg-gray-200">
        <div>
            <twig:FilterGroup
                title="Brand" 
                :items="brands" 
                selectedItem="Amstel"
                expanded="true"
            />
        </div>
        
        <div>
            <twig:FilterGroup 
                title="Market" 
                :items="markets"
                expanded="true"
            />
        </div>
        
        <div>
            <twig:FilterGroup 
                title="Medium" 
                :items="mediums"
                expanded="true"
            />
        </div>
    </div>
</div>