<div id="sidebar"
     class="bg-white rounded-lg pt-2 w-280 h-[calc(100vh-200px)]"
     data-controller="sidebar"
>
    <div class="flex justify-between items-center px-5 py-2 h-12">
        <span class="text-22 font-semibold leading-28 tracking-normal text-[#171B3F] font-sans">Filters</span>

        <button id="sidebar-clear-button"
                data-sidebar-target="clearButton"
                class="text-18 leading-26 font-normal tracking-normal text-[#8A939A] font-sans transition-opacity duration-200 {% if not hasSelectedFilters %}hidden opacity-0{% endif %}"
                data-url="{{ this.homeUrl }}"
                data-action="click->sidebar#clearSidebar"
        >
            Clear
        </button>
    </div>

    <div class="flex-1 overflow-y-auto h-[calc(100%-48px)] [&::-webkit-scrollbar]:w-[4px] [&::-webkit-scrollbar-thumb]:bg-gray-400 [&::-webkit-scrollbar-thumb]:rounded-[4px] [&::-webkit-scrollbar-track]:bg-gray-200">
        {% for sidebarFilter in this.sidebarFilters %}
            <div>
                <twig:FilterGroup
                    :title="sidebarFilter.label"
                    :filterName="sidebarFilter.filterName"
                    :expanded="sidebarFilter.shouldExpand"
                    :sidebarFilter="sidebarFilter"
                />
            </div>
        {% endfor %}
    </div>
</div>