<div class="bg-white rounded-lg pt-2 ml-3 h-full">
    <!-- Left Sidebar -->
    <div class="w-[280px] border-gray-200 h-[760px] flex flex-col">
        <!-- Header -->
        <div class="flex justify-between items-center border-gray-200 px-5 py-2 h-12">
            <span class="text-16 font-semibold leading-28 tracking-normal text-gray-900">Filters</span>
            <button class="text-gray-500 text-14 font-normal leading-26 tracking-normal">Clear</button>
        </div>

        <!-- Scrollable Content -->
        <div class="flex-1 overflow-y-auto [&::-webkit-scrollbar]:w-[4px] [&::-webkit-scrollbar]:h-[760px] [&::-webkit-scrollbar-thumb]:bg-gray-400 [&::-webkit-scrollbar-thumb]:rounded-[4px] [&::-webkit-scrollbar-track]:bg-gray-200">
            <twig:FilterGroup 
                title="Brand"
                :itemTypes="['Amstel', 'Bernini', 'Birra Moretti', 'Desperados']"
                search-placeholder="Look for a brand"
            />
            
            <twig:FilterGroup 
                title="Market"
                :itemTypes="['Global', 'EMEA', 'APAC', 'Nederland']"
                search-placeholder="Look for a market"
            />
            
            <twig:FilterGroup 
                title="Medium"
                :itemTypes="['Packaging', 'Digital', 'Merchandise', 'Other']"
                search-placeholder="Look for a medium"
            />
        </div>
    </div>
</div> 