<turbo-frame id="dropdown-options-{{ id }}">
    {% for option in options %}
        <a 
            href="#" 
            class="block px-4 py-2 text-14 leading-26 font-normal text-[#171B3F] hover:bg-[#F8F9FA]"
            style="text-decoration: none;"
            data-action="dropdown-autocomplete#select"
            data-option="{{ option.name }}"
            data-option-id="{{ option.id }}"
        >
            {{ option.name }}
        </a>
    {% endfor %}
    
    {% if options is empty %}
        <div class="px-4 py-2 text-14 text-gray-500">
            No results found
        </div>
    {% endif %}
</turbo-frame>