<div class="space-y-2 {{ class }}">
    {# Date Range Inputs #}
    <div class="space-y-4">
        {# From date #}
        <div class="space-y-1.5">
            <label class="block text-sm font-medium text-dark-600">From</label>
            <label>
                <input
                    type="date"
                    class="block w-full rounded border-gray-200 shadow-sm focus:border-blue-500 focus:ring-blue-500 text-sm"
                    value="{{ fromDate }}"
                >
            </label>
        </div>

        {# To date #}
        <div class="space-y-1.5">
            <label class="block text-sm font-medium text-dark-600">To</label>
            <label>
                <input
                    type="date"
                    class="block w-full rounded border-gray-200 shadow-sm focus:border-blue-500 focus:ring-blue-500 text-sm"
                    value="{{ toDate }}"
                >
            </label>
        </div>
    </div>
</div> 