<div 
    class="inline-block animate-spin rounded-full border-2 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]
    {% if size == 'sm' %}h-4 w-4
    {% elseif size == 'md' %}h-8 w-8
    {% elseif size == 'lg' %}h-12 w-12
    {% endif %}
    {% if color == 'blue' %}text-blue-600
    {% elseif color == 'gray' %}text-gray-600
    {% elseif color == 'white' %}text-white
    {% endif %}
    {{ class }}"
    role="status"
>
    <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">
        Loading...
    </span>
</div> 