<header class="pl-0 pr-4 py-0">
    <div class="flex items-center">
        <a class="w-100 h-80 content-center cursor-pointer" href="{{ this.logoLink }}">
            <twig:Image src="{{ mix('build/stimulus/media/logo-froq-brandservices.png') }}" alt="Logo" class="h-40 w-80 float-right" />
        </a>

        <div class="absolute right-0">
            <div class="flex justify-end p-4">
                <twig:UserDropdown :user="user" />
            </div>
        </div>
    </div>
</header>