{% if hasQuery %}
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="0"
               id="filter_option_brand_checkbox_0"
               type="checkbox"
        />
        <label for="filter_option_brand_checkbox_0">
            <span>Albert <span class="filter-highlight-text">Heijn</span></span>
            <span>(32)</span>
        </label>
    </li>
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="1"
               id="filter_option_brand_checkbox_1"
               type="checkbox"
        />
        <label for="filter_option_brand_checkbox_1">
            <span>Eigen Merk</span>
            <span>(777)</span>
        </label>
    </li>
{% else %}
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="0"
               id="filter_option_brand_checkbox_0"
               type="checkbox"
        />
        <label for="filter_option_brand_checkbox_0">
            <span>Albert Heijn</span>
            <span>(32)</span>
        </label>
    </li>
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="1"
               id="filter_option_brand_checkbox_1"
               type="checkbox"
        />
        <label for="filter_option_brand_checkbox_1">
            <span>Eigen Merk</span>
            <span>(777)</span>
        </label>
    </li>
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="2"
               id="filter_option_brand_checkbox_2"
               type="checkbox"
        />
        <label for="filter_option_brand_checkbox_2">
            <span>Campina</span>
            <span>(11)</span>
        </label>
    </li>
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="2"
               id="filter_option_brand_checkbox_3"
               type="checkbox"
        />
        <label for="filter_option_brand_checkbox_3">
            <span>Albert Heijn</span>
            <span>(32)</span>
        </label>
    </li>
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="3"
               id="filter_option_brand_checkbox_4"
               type="checkbox"
        />
        <label for="filter_option_brand_checkbox_4">
            <span>Eigen Merk</span>
            <span>(777)</span>
        </label>
    </li>
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="4"
               id="filter_option_brand_checkbox_5"
               type="checkbox"
        />
        <label for="filter_option_brand_checkbox_5">
            <span>Campina</span>
            <span>(11)</span>
        </label>
    </li>
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="5"
               id="filter_option_brand_checkbox_6"
               type="checkbox"
        />
        <label for="filter_option_brand_checkbox_6">
            <span>Albert Heijn</span>
            <span>(32)</span>
        </label>
    </li>
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="6"
               id="filter_option_brand_checkbox_7"
               type="checkbox"
        />
        <label for="filter_option_brand_checkbox_7">
            <span>Eigen Merk</span>
            <span>(777)</span>
        </label>
    </li>
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="7"
               id="filter_option_brand_checkbox_8"
               type="checkbox"
        />
        <label for="filter_option_brand_checkbox_8">
            <span>Campina</span>
            <span>(11)</span>
        </label>
    </li>
{% endif %}