{% if hasQuery %}
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="3"
               id="filter_option_category_checkbox_3"
               type="checkbox"
        />
        <label for="filter_option_category_checkbox_3">
            <span>Accessoires line</span>
            <span>(32)</span>
        </label>
    </li>
    <li class="filter-option-category__checkboxes-list-item--has-children">
        <div class="top-level-selector">
            <input class="input-checkbox"
                   data-role="filter_option_multi_select_checkbox"
                   value="4"
                   id="filter_option_category_checkbox_4"
                   type="checkbox"
            />
            <label for="filter_option_category_checkbox_4">
                <span><span class="filter-highlight-text">Kaas</span> line</span>
                <span>(777)</span>
            </label>
            <button class="children-list__trigger" data-role="children_list_trigger"></button>
        </div>
        <div class="children-list">
            <ul>
                <li>
                    <input class="input-checkbox"
                           data-role="filter_option_multi_select_checkbox"
                           value="4_0"
                           id="filter_option_category_checkbox_4_0"
                           type="checkbox"
                    />
                    <label for="filter_option_category_checkbox_4_0">
                        <span>Room <span class="filter-highlight-text">kaas</span></span>
                        <span>(11)</span>
                    </label>
                </li>
                <li>
                    <input class="input-checkbox"
                           data-role="filter_option_multi_select_checkbox"
                           value="4_1"
                           id="filter_option_category_checkbox_4_1"
                           type="checkbox"
                    />
                    <label for="filter_option_category_checkbox_4_1">
                        <span>Borrel <span class="filter-highlight-text">kaas</span></span>
                        <span>(11)</span>
                    </label>
                </li>
                <li class="filter-option-category__checkboxes-list-item--has-children">
                    <div class="top-level-selector">
                        <input class="input-checkbox"
                               data-role="filter_option_multi_select_checkbox"
                               value="4_2"
                               id="filter_option_category_checkbox_4_2"
                               type="checkbox"
                        />
                        <label for="filter_option_category_checkbox_4_2">
                            <span>Verse <span class="filter-highlight-text">kaas</span></span>
                            <span>(11)</span>
                        </label>
                        <button class="children-list__trigger" data-role="children_list_trigger"></button>
                    </div>
                    <div class="children-list">
                        <ul>
                            <li>
                                <input class="input-checkbox"
                                       data-role="filter_option_multi_select_checkbox"
                                       value="4_2_0"
                                       id="filter_option_category_checkbox_4_2_0"
                                       type="checkbox"
                                />
                                <label for="filter_option_category_checkbox_4_2_0">
                                    <span>Jonge <span class="filter-highlight-text">kaas</span></span>
                                    <span>(5)</span>
                                </label>
                            </li>
                            <li>
                                <input class="input-checkbox"
                                       data-role="filter_option_multi_select_checkbox"
                                       value="4_2_1"
                                       id="filter_option_category_checkbox_4_2_1"
                                       type="checkbox"
                                />
                                <label for="filter_option_category_checkbox_4_2_1">
                                    <span>Oude <span class="filter-highlight-text">kaas</span></span>
                                    <span>(3)</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
{% else %}
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="0"
               id="filter_option_category_checkbox_0"
               type="checkbox"
        />
        <label for="filter_option_category_checkbox_0">
            <span>Chips line</span>
            <span>(32)</span>
        </label>
    </li>
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="1"
               id="filter_option_category_checkbox_1"
               type="checkbox"
        />
        <label for="filter_option_category_checkbox_1">
            <span>Chocolade-Line</span>
            <span>(777)</span>
        </label>
    </li>
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="2"
               id="filter_option_category_checkbox_2"
               type="checkbox"
        />
        <label for="filter_option_category_checkbox_2">
            <span>Groenten-line</span>
            <span>(11)</span>
        </label>
    </li>
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="3"
               id="filter_option_category_checkbox_3"
               type="checkbox"
        />
        <label for="filter_option_category_checkbox_3">
            <span>Accessoires line</span>
            <span>(32)</span>
        </label>
    </li>
    <li class="filter-option-category__checkboxes-list-item--has-children">
        <div class="top-level-selector">
            <input class="input-checkbox"
                   data-role="filter_option_multi_select_checkbox"
                   value="4"
                   id="filter_option_category_checkbox_4"
                   type="checkbox"
            />
            <label for="filter_option_category_checkbox_4">
                <span>Kaas line</span>
                <span>(777)</span>
            </label>
            <button class="children-list__trigger" data-role="children_list_trigger"></button>
        </div>
        <div class="children-list">
            <ul>
                <li>
                    <input class="input-checkbox"
                           data-role="filter_option_multi_select_checkbox"
                           value="4_0"
                           id="filter_option_category_checkbox_4_0"
                           type="checkbox"
                    />
                    <label for="filter_option_category_checkbox_4_0">
                        <span>Room kaas</span>
                        <span>(11)</span>
                    </label>
                </li>
                <li>
                    <input class="input-checkbox"
                           data-role="filter_option_multi_select_checkbox"
                           value="4_1"
                           id="filter_option_category_checkbox_4_1"
                           type="checkbox"
                    />
                    <label for="filter_option_category_checkbox_4_1">
                        <span>Borrel kaas</span>
                        <span>(11)</span>
                    </label>
                </li>
                <li class="filter-option-category__checkboxes-list-item--has-children">
                    <div class="top-level-selector">
                        <input class="input-checkbox"
                               data-role="filter_option_multi_select_checkbox"
                               value="4_2"
                               id="filter_option_category_checkbox_4_2"
                               type="checkbox"
                        />
                        <label for="filter_option_category_checkbox_4_2">
                            <span>Verse kaas</span>
                            <span>(11)</span>
                        </label>
                        <button class="children-list__trigger" data-role="children_list_trigger"></button>
                    </div>
                    <div class="children-list">
                        <ul>
                            <li>
                                <input class="input-checkbox"
                                       data-role="filter_option_multi_select_checkbox"
                                       value="4_2_0"
                                       id="filter_option_category_checkbox_4_2_0"
                                       type="checkbox"
                                />
                                <label for="filter_option_category_checkbox_4_2_0">
                                    <span>Jonge kaas</span>
                                    <span>(5)</span>
                                </label>
                            </li>
                            <li>
                                <input class="input-checkbox"
                                       data-role="filter_option_multi_select_checkbox"
                                       value="4_2_1"
                                       id="filter_option_category_checkbox_4_2_1"
                                       type="checkbox"
                                />
                                <label for="filter_option_category_checkbox_4_2_1">
                                    <span>Oude kaas</span>
                                    <span>(3)</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="5"
               id="filter_option_category_checkbox_5"
               type="checkbox"
        />
        <label for="filter_option_category_checkbox_5">
            <span>Test category 1</span>
            <span>(11)</span>
        </label>
    </li>
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="6"
               id="filter_option_category_checkbox_6"
               type="checkbox"
        />
        <label for="filter_option_category_checkbox_6">
            <span>Test category 2</span>
            <span>(32)</span>
        </label>
    </li>
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="7"
               id="filter_option_category_checkbox_7"
               type="checkbox"
        />
        <label for="filter_option_category_checkbox_7">
            <span>Test category 3</span>
            <span>(777)</span>
        </label>
    </li>
    <li>
        <input class="input-checkbox"
               data-role="filter_option_multi_select_checkbox"
               value="8"
               id="filter_option_category_checkbox_8"
               type="checkbox"
        />
        <label for="filter_option_category_checkbox_8">
            <span>Test category 4</span>
            <span>(11)</span>
        </label>
    </li>
{% endif %}
