<script type="text/template" id="element-template">
    <div class="grid-item card card-alt col-span-1 box-border flex flex-col justify-between h-full gap-2">
        <div class='img-container-thumbnail'>
        </div>
        <a class="card-link">
            <div class="card-body">
                <ul>
                    <li>
                        <twig:Tooltip label="{filename}">
                            <p class="m-0 wrap-text text-xs line-clamp-2">
                                {filename}
                            </p>
                        </twig:Tooltip>
                    </li>
                </ul>
                <div class="hidden gap-4">
                    <a class="flex text-primary no-underline" href="#">
                        <div class="view-icon">{% include '@FroqPortal/icons/open-link.html.twig' %}</div>

                        <div class="text">view</div>
                    </a>
                </div>
                <div class="card-footer justify-around">
                    <app-selector class="select-element card-footer-element py-2 mx-auto footer-button error" trigger-id="selector-trigger" state='{id}' method="delete">
                        <div id="selector-trigger" class="icon-small">{% include '@FroqPortal/icons/basket-remove-icon.html.twig' %}</div>
                    </app-selector>
                </div>
            </div>
        </a>
    </div>
</script>