{% set settings = user.groupAssetLibrarySettings %}
{% set settingsDefinitions = settings.class.fieldDefinitions|default(null) %}
{% set item = item %}

<div class="asset-detail-preview__sidebar">
    <app-asset-information class="asset-information">
        {{ dump(settings) }}
        {% if settings %}
            {% include '@FroqPortalBundle/partials/asset-detail/assetInfoSection.html.twig' with {'settings': settings, 'item': item} %}

            {% include '@FroqPortalBundle/partials/asset-detail/skuSection.html.twig' with {'settings': settings, 'item': item} %}

            {% include '@FroqPortalBundle/partials/asset-detail/projectSection.html.twig' with {'settings': settings, 'item': item} %}

            {% include '@FroqPortalBundle/partials/asset-detail/supplierSection.html.twig' with {'settings': settings, 'item': item} %}

            {% include '@FroqPortalBundle/partials/asset-detail/printerSection.html.twig' with {'settings': settings, 'item': item} %}

            <div class="asset-information__download-link-wrapper">
                {% if item.asset %}
                    <div class="mb-4">
                        <app-selector-details trigger-id="selector-trigger" class="select-element card-footer-element py-2 mx-auto footer-button"
                                              state="{{ item.id }}">
                            <div id="selector-trigger" class="button button-md link-as-button asset-information__download-link w-full cursor-pointer">
                                Add to Basket
                            </div>
                        </app-selector-details>
                    </div>
                {% endif %}

                {% if item.asset %}
                    <app-download-asset
                        class="button button-primary button-md link-as-button asset-information__download-link"
                        style="cursor: pointer;"
                        href="{{ path('froq_portal.asset_library.detail.download.file', {'id': item.id}) }}">
                        <span>Download this asset</span>
                    </app-download-asset>
                {% else %}
                    <button
                        class="button button-primary button-md link-as-button asset-information__download-link"
                        disabled style="cursor:not-allowed">
                        <span>No Asset Exist</span>
                    </button>
                {% endif %}
            </div>
        {% endif %}
    </app-asset-information>
</div>