{% extends '@FroqPortalBundle/portal-layout.html.twig' %}

{% block title %} Search | Asset Library{% endblock %}

{% block body %}
    <main class="pt-m pb-xs pl-xl pr-xl">
        <app-content-loader url="{{ url('froq_portal.asset_library.search.fetch_form_and_results') }}">
            {% include '@FroqPortalBundle/partials/asset-library/search_body.html.twig' %}
        </app-content-loader>
    </main>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.staticListPageSize = {{ constant('Froq\\PortalBundle\\Controller\\AssetLibrary\\SearchController::DEFAULT_PAGE_SIZE') }};
    </script>
{% endblock %}
