{% set columns = get_asset_library_columns_for_user(user) %}

<app-static-grid url="{{ url('froq_portal.asset_library.search.load_more') }}"
                 class="grid-container box-border p-1"
                 next-page="{{ next_page }}">
    <div class="grid grid-search-responsive box-border" data-role="grid">
        {% include '@FroqPortalBundle/partials/asset-library/load_grid_items.html.twig' %}
    </div>

    <app-results-counter class="results-counter results-counter-bottom">
        <div>
            <span>Result</span>
        </div>
        <div>
            <strong>
                <span data-role="results_counter_text">{{ totalCount ?? '0' }}</span>
                <span>assets</span>
            </strong>
        </div>
    </app-results-counter>
    {% if next_page %}
        <div class="justify-center flex">
            <span id="view-more" class="view-more-button">View more</span>
        </div>
    {% endif %}
</app-static-grid>
