<app-pagination class="pagination">
    <div class="pagination__size-selector-container">
        <span>View max.</span>
        <select aria-label="Page size"
                class="input-select pagination__size-selector"
                data-role="size_selector">
            <option value="4">4</option>
            <option value="6">6</option>
            <option value="10">10</option>
        </select>
        <span>
                    per page
                </span>
    </div>
    <div>
        <div class="pagination__page-selector-form"
              data-role="page_selector_form">
            <input data-role="page_selector"
                   type="hidden"
                   value="1"
            />
            <button class="pagination__button pagination__button--prev"
                    type="button"
                    aria-label="Previous"
                    data-role="page_prev">
                <span>Prev</span>
            </button>
            <div data-role="pages_list">
                <!-- Placeholder for pages buttons -->
            </div>
            <button class="pagination__button pagination__button--next"
                    type="button"
                    aria-label="Next"
                    data-role="page_next">
                <span>Next</span>
            </button>
        </div>
    </div>
</app-pagination>
