{% extends '@FroqPortalBundle/portal-layout.html.twig' %}

{% block title %}
    Colour Library Edit (item-name)
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <main class="pt-m pb-xxl pl-xl pr-xl">
        Edit Page
    </main>
{% endblock body %}
