{% extends '@FroqPortalBundle/portal-layout.html.twig' %}

{% block title %}Search | Colour Library{% endblock %}

{% block body %}
    <main class="pt-m pb-xs pl-xl pr-xl">
        <app-content-loader>
            {% include '@FroqPortalBundle/partials/colour-library/search_body.html.twig' %}
        </app-content-loader>
    </main>
{% endblock body %}

{# {% block javascripts %}
    {{ parent() }}
    <script>
        window.staticListPageSize = {{ page_size }};
    </script>
{% endblock %} #}