<div data-controller="breadcrumb" class="px-[6px] bg-[#F4F6FF] gap-6">
    <a data-action="click->breadcrumb#back" class="no-underline cursor-pointer text-[#009383] font-semibold text-16 leading-52 inline-flex items-center h-[72px] py-[12px]">
        ❮&nbsp;<span class="text-22">{{ this.text }}</span>
    </a>
</div> 