<div class="relative" data-controller="dropdown">
    {# Dropdown Trigger #}
    <button 
        type="button" 
        class="flex items-center gap-4 p-2 rounded-full"
        data-action="dropdown#toggle"
    >
        <div class="w-46 h-46 rounded-full font-semibold leading-30 font-sans text-18 bg-[#00587C] text-white flex items-center justify-center">
            {{ this.getInitials() }}
        </div>

        <span class="text-[#171B3F] text-16 font-semibold leading-28 font-sans">{{ this.getFullname() }}</span>

        <svg class="w-4 h-4 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
    </button>

    <div 
        class="absolute right-0 mt-2 bg-white rounded-lg shadow-lg py-1 hidden !w-100"
        data-dropdown-target="menu"
        style="border: 1px solid #E4E7EC; z-index: 50;"
    >
        <a href="{{ path('froq_portal.auth.logout') }}"
           class="block px-4 py-2 text-sm text-[#171B3F] hover:bg-[#F8F9FA] no-underline font-sans"
        >
            Log out
        </a>
    </div>
</div> 