<div class="flex rounded-[50px] border border-[#E4E7EC] bg-white p-1 h-46 overflow-hidden gap-1 {{ class }}" 
     style="border:1px solid #E4E7EC;"
     data-view="{{ view }}">
    <twig:IconButton
        icon="grid-icon"
        label="Grid view"
        :active="view == 'grid'"
        class="transition-all duration-200 pt-1 w-34 h-34 {{ view == 'grid' ? 'bg-[#009383] rounded-full' : 'bg-white' }}"
        data-action="view-toggle#toggle"
        data-view-toggle-view-param="grid"
    />
    <twig:IconButton
        icon="list-icon"
        label="List view"
        :active="view == 'list'"
        class="transition-all duration-200 pt-1 w-34 h-34 {{ view == 'list' ? 'bg-[#009383] rounded-full' : 'bg-white' }}"
        data-action="view-toggle#toggle"
        data-view-toggle-view-param="list"
    />
</div>