<div class="flex rounded-full border border-gray-200 bg-white px-1.5 py-1 h-[42px] gap-1 {{ class }}" style="border: 1px solid #E4E7EC;">
    <twig:IconButton
        icon="grid-icon"
        :active="view == 'grid'"
        label="Grid view"
    />
    <twig:IconButton
        icon="list-icon"
        :active="view == 'list'"
        label="List view"
        class="text-[#009383]"
    />
</div> 