<div class="grid grid-cols-2 lg:grid-cols-3 !gap-[28px]">
    <div class="rounded-[4px] border border-black p-[16px] font-montserrat" style="border: 1px solid black;">
        <h2 class="font-semibold text-[24px] leading-[24px] tracking-[0%] mb-5">White</h2>
        <div class="space-y-4 mb-4">
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Pantone</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">PMS 1234C</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Process Colour</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">C12 M34 Y56 K78</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">sRGB</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">R12 G34 B56</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Textile</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">12-3456 TCX</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Paint</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">RAL 1234</span>
            </div>
        </div>
    </div>

    <div class="gap-[24px] rounded-[4px] border border-black p-[16px] font-montserrat text-white bg-[#E53829]">
        <h2 class="font-semibold text-[24px] leading-[24px] tracking-[0%] mb-5">Amstel Red</h2>
        <div class="space-y-4 mb-4">
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Pantone</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">PMS 1234C</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Process Colour</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">C12 M34 Y56 K78</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">sRGB</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">R12 G34 B56</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Textile</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">12-3456 TCX</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Paint</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">RAL 1234</span>
            </div>
        </div>
    </div>

    <div class="gap-[24px] rounded-[4px] border border-black p-[16px] font-montserrat text-white bg-[#B29466]">
        <h2 class="font-semibold text-[24px] leading-[24px] tracking-[0%] mb-5">Amstel Gold</h2>
        <div class="space-y-4 mb-4">
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Pantone</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">PMS 1234C</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Process Colour</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">C12 M34 Y56 K78</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">sRGB</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">R12 G34 B56</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Textile</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">12-3456 TCX</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Paint</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">RAL 1234</span>
            </div>
        </div>
    </div>

    <div class="gap-[24px] rounded-[4px] border border-black p-[16px] font-montserrat text-white bg-[#021C00]">
        <h2 class="font-semibold text-[24px] leading-[24px] tracking-[0%] mb-5">Black</h2>
        <div class="space-y-4 mb-4">
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Pantone</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">PMS 1234C</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Process Colour</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">C12 M34 Y56 K78</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">sRGB</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">R12 G34 B56</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Textile</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">12-3456 TCX</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Paint</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">RAL 1234</span>
            </div>
        </div>
    </div>

    <div class="gap-[24px] rounded-[4px] border border-black p-[16px] font-montserrat text-white bg-[#045BA2]">
        <h2 class="font-semibold text-[24px] leading-[24px] tracking-[0%] mb-5">Amstel Blue</h2>
        <div class="space-y-4 mb-4">
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Pantone</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">PMS 1234C</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Process Colour</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">C12 M34 Y56 K78</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">sRGB</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">R12 G34 B56</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Textile</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">12-3456 TCX</span>
            </div>
            <div class="gap-[34px] w-full flex">
                <span class="w-1/2 font-semibold text-[16px] leading-[16px] tracking-[0%] text-right">Paint</span>
                <span class="w-1/2 font-normal text-[16px] leading-[16px] tracking-[0%]">RAL 1234</span>
            </div>
        </div>
    </div>
</div>