<div class="mt-4">
    <div class="bg-white rounded-lg p-8">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-[18px] font-bold leading-[32px] tracking-[0%] text-[#171B3F] font-montserrat h-[32px]">Print expert notes – Amstel Lager Packaging Primary Bottle – Offset on white paper</h2>
            <a class="inline-flex items-center gap-2 text-[#00582B] no-underline h-[46px]">
                <svg width="21" height="18" viewBox="0 0 24 24" fill="none" stroke="#00582B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
                </svg>
                <span class="text-[20px] leading-[41px] font-semibold tracking-[0%]">Edit</span>
            </a>
        </div>

        <div class="font-montserrat font-normal text-[18px] leading-[32px] tracking-[0%] text-[#171B3F]">
            <p>·Wat kind of reference did we make? (MCC / Froq mock-up/ Epson print / samples of produced market)</p>
            <p>·Do we have labels to share when markets request? Are these ready and in the office or at ITG or do we need to produce these when market reuqest?</p>
            <p>·Any adiditonal info to share when sharing the colour reference? Eyemark/ specific order of colours/ 2x white</p>
            <p class="mt-8">
                Different surfaces have different properties and therefore it is necessary to use these specific colours. These colours have been print proofed and matched. In order to get the right Amstel look, it is therefore important to use them as described.
            </p>
        </div>

        <div class="mt-4">
            <img src="{{ mix('build/portal/media/amstel.png') }}" alt="Amstel Color Reference" class="max-w-[500px]">
        </div>
    </div>
</div>