<div class="flex justify-between items-center mb-6">
    <h1 class="leading-[52px] text-[#171B3F] font-semibold text-[36px] tracking-[0%]">{{ product_name }}</h1>
    <a class="inline-flex items-center gap-2 text-[#00582B] no-underline h-[46px]">
        <svg width="21" height="18" viewBox="0 0 24 24" fill="none" stroke="#00582B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
        </svg>
        <span class="text-[20px] leading-[41px] font-semibold tracking-[0%]">Edit</span>
    </a>
</div> 